main {
    min-height: 100vh;
}

body {
    background-image: url("https://github.com/greyzeids/traffic-light/blob/main/src/img/background2.jpg?raw=true");
    background-size: cover;
    background-position: end;
}

.traffic-light {
    background: url("https://github.com/greyzeids/traffic-light/blob/main/src/img/off.png?raw=true")
        no-repeat center center;
    background-size: contain;
    width: 180px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.traffic-light div {
    width: 180px;
    height: 125px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.light.red.active {
    background: url("https://github.com/greyzeids/traffic-light/blob/main/src/img/red.png?raw=true")
        center/contain no-repeat;
    transform: translateY(12px);
}

.light.yellow.active {
    background: url("https://github.com/greyzeids/traffic-light/blob/main/src/img/ambar.png?raw=true")
        center/contain no-repeat;
    transform: translateY(13px);
}

.light.green.active {
    background: url("https://github.com/greyzeids/traffic-light/blob/main/src/img/green.png?raw=true")
        center/contain no-repeat;
    transform: translateY(10px);
}
